{% extends "::base.html.twig" %}
{% block title %}Просмотр{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12 order-md-1">
            <a class="btn btn-outline-primary" href="{{ path('page_list') }}">Назад</a>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-8 order-md-1">
            {% for flash in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
            <h4 class="mb-3">Просмотр</h4>

            <div class="blog-post">
                <h2 class="blog-post-title">{{ page.title }}</h2>
                <p class="blog-post-meta">Дата публикации: {{ page.createdAt|date('M j, Y') }} | Автор: {{ page.user.username }}</p>

                <p>{{ page.description }}</p>
                <hr/>

                <nav class="blog-pagination">
                    <a class="btn btn-success" href="{{ path('page_edit', { 'id' : page.id }) }}">Редактировать</a>

                    <a class="btn btn-danger" href="{{ path('page_delete', { 'id' : page.id }) }}">Удалить</a>
                </nav>

        </div>
        <div class="col-md-4 order-md-2 mb-4">
        </div>
    </div>


{% endblock %}